@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#233554];
  }
  
  body {
    @apply bg-[#0a192f] text-[#ccd6f6] antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .scroll-mt-20 {
    scroll-margin-top: 5rem;
  }
}

