@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#233554] dark:border-[#233554] border-gray-200;
  }
  
  body {
    @apply bg-white dark:bg-[#0a192f] text-gray-900 dark:text-[#ccd6f6] antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .scroll-mt-20 {
    scroll-margin-top: 5rem;
  }
}

